/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 */

@import "bootstrap-sprockets";
@import "bootstrap";
@import url("https://fonts.googleapis.com/css2?family=Hind:wght@500&display=swap");

body {
  background-color: #fffaf8;
}

.form-container {
  max-width: 650px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  background-color: #fffaf8;
  padding-top: 2.5%;
}

.artwork-container {
  position: relative;
}

.img-fluid {
  margin: auto;
  width: 100%;
  vertical-align: middle;
}

.welcome-greeting {
  position: absolute;
  top: 3%;
  left: 3.5%;
  font-family: "Hind", sans-serif;
  font-size: 16px;
}

@media (min-width: 768px) {
  .welcome-greeting {
    font-size: 30px;
  }
}

.submit,
.rsvp-button,
.toolbar-button,
.form-submit {
  width: 89px;
  height: 45px;
  border: 2px solid #fd6666;
  box-sizing: border-box;
  border-radius: 25px;
  background-color: #fffaf8;
  font-family: "Hind", sans-serif;
  color: #fd6666;
  font-weight: bold;
  font-size: calc(14px + (16 - 14) * ((100vw - 300px) / (760 - 300)));
}

.submit:hover,
.form-submit {
  background-color: #fd6666;
  color: #fffaf8;
}

.rsvp-button:hover,
.toolbar-button:hover {
  background-color: #fd6666;
  color: #fffaf8;
  border: 2px solid #fd6666;
}

.submit {
  position: absolute;
  bottom: 5%;
  right: 2%;
}

.form {
  margin: 0 auto;
  width: 70%;
  text-align: center;
}

.form-submit {
  text-align: center;
}

.form-submit-wrapper {
  padding-top: 10px;
}

.header {
  text-align: left;
  font-family: "Hind", sans-serif;
  font-weight: bold;
  font-size: 18px;
  padding-top: 1em;
  padding-bottom: 1em;
}

.toolbar {
  flex-flow: row;
  border-bottom: 1px solid #fdae66;
  margin-bottom: 50px;
}

.toolbar-image {
  flex-grow: 3.5;
}

.toolbar-button {
  width: fit-content;
  padding: 3px;
  border: none;
}

.toolbar-icon {
  max-width: 40px;
}

.confirmation-header {
  font-size: 18px;
  font-family: "Hind", sans-serif;
  padding-bottom: 10px;
}

.confirmation-guests {
  width: fit-content;
  padding-left: 1em;
  padding-right: 1em;
  font-family: "Hind", sans-serif;
  font-size: 18px;
}

.confirmation-wrapper {
  display: flex;
  padding-bottom: 20px;
}

.form-header,
.form-title,
.form-header-second,
.form-header-second-bottom,
.gift-header {
  font-family: "Hind", sans-serif;
  font-size: 18px;
  color: #fd6666;
  font-weight: semi-bold;
}

.gift-header {
  text-align: center;
  color: black;
}

.form-title {
  padding-bottom: 10px;
  padding-top: 10px;
  color: black;
}

.form-header-second {
  padding-top: 10px;
}
.form-header-second-bottom {
  padding-bottom: 10px;
}

.radio-input {
  width: 18px;
  color: #fd6666;
}

.radio-input-container {
  display: block;
  position: relative;
  padding-left: 40px;
  font-size: 18px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  margin-left: 20px;
  font-weight: normal;
}

.radio-input-container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 18px;
  width: 18px;
  background-color: #eee;
  border-radius: 50%;
}

.radio-input-container:hover input ~ .checkmark {
  background-color: #fd6666;
}

.radio-input-container input:checked ~ .checkmark {
  background-color: #fd6666;
}

.radio-input-container input:checked ~ .checkmark:after {
  display: block;
}

.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

.form-second-section {
  padding-top: 10px;
}

.form-sunday {
  padding-top: 10px;
}

.detail-header {
  width: fit-content;
  font-size: 20px;
  font-weight: medium;
  padding-bottom: 5px;
  background: /* gradient can be an image */ linear-gradient(
      to left,
      #fd6666 0%,
      #fdae66 40%,
      #fdf766 100%
    )
    left bottom #fffaf8 no-repeat;
  background-size: auto 7px; /* if linear-gradient, we need to resize it */
}

.detail-subcopy {
  padding-top: 10px;
  font-size: 16px;
  color: #fd6666;
}

.detail-hog {
  padding-top: 20px;
}

.detail-image {
  width: 50%;
  float: right;
  margin: 10px;
}

.detail-image-wrapper {
  // text-align: right;
  // position: absolute;
  top: 15%;
  float: right;
}

.detail-container {
  // position: relative;
}

.gift-button {
  width: fit-content;
  height: 45px;
  border: 2px solid #fd6666;
  box-sizing: border-box;
  border-radius: 25px;
  background-color: #fffaf8;
  font-family: "Hind", sans-serif;
  color: #fd6666;
  font-weight: bold;
  font-size: calc(14px + (16 - 14) * ((100vw - 300px) / (760 - 300)));
}

.gift-button:hover {
  background-color: #fd6666;
  color: #fffaf8;
  border: 2px solid #fd6666;
}

.gift-button-wrapper {
  padding-top: 20px;
  display: flex;
  justify-content: space-around;
}

.map-wrapper {
  padding: 10px;
}

.rotate {
  animation: rotation 5s infinite linear;
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}

.gift-logo {
  margin-top: 20px;
  text-align: center;
}
